.grid-container {
	display: flex;
	margin: auto;
	position: relative;
	top: 20px;
	flex-direction: column;
    align-items: normal;
	height: 615px;
	width: 615px;
	border: groove 4px black;

}

.grid-row {
	display: flex;
	flex-direction: row;
	flex: auto;
}
	
.grid-item {
	display: flex;
	background: #EEE;
	flex: auto;
}
body {
	background-image: radial-gradient(#ABC, #CBA);
	animation-name: loading;
	animation-duration: 0.2s;
	animation-timing-function: ease-out;
}
h1 {
	font-family: monospace;
	text-align: center;
	margin: auto;
	padding: 10px;
	font-size: 42px;
}
button {
	margin: 15px 30px 15px 30px;
	transform: scale(1.5);
	background-image: linear-gradient(#678, #765);
	border: solid 1px #222;
}

button:active {
    background-image: linear-gradient(#456, #543);
}

#userButtons {
    margin: auto;
    display: flex;
    justify-content: center;
}

#mySource {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-family: monospace;
    font-size: 18px;
}

@keyframes loading {
    0% {background-image: radial-gradient(#456, #654);}
    25% {background-image: radial-gradient(#567, #765);}
    50% {background-image: radial-gradient(#678, #876);}
    75% {background-image: radial-gradient(#89A, #A98);}
    100% {background-image: radial-gradient(#ABC, #CBA);}
}
