 <!DOCTYPE html>
<html>
<head>
<title>Web Sketchpad</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/etch-main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
<script type='text/javascript' src="{{ url_for('static', filename='js/grid-create.js') }}" defer></script>
<meta charset="UTF-8"/>
</head>
<body>
</body>
</html> 